body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.2rem;
}
.btn-container {
 display: flex;
 justify-content: center;
}
.red{
    background-color: #00929292;
}
.yellow{
    background-color: #f6515678;
}
.blue{
    background-color: #88070b95;
}
.orange{
    background-color: #ffd01390;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}
#box{
    border-radius: 15px;
    align-items: center;
    height: min-content;
    width: min-content;
    background-color: #95e879bb;
    margin: auto;
    
}